.App {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    main {
      flex: auto;
      overflow: hidden;
      padding-top: 90px; 
      // needs to be changed after header is done
    }
  }
}