.container {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: black; 
        padding: 10px;
        border: 1px solid black;
      }
    }
  }
}