.questions {
  width: 95%;
  margin-bottom: 40px;
  h1 {
    margin: 0 0 30px 20px;
  }
  .cards-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 800px) {
    .cards-container { grid-template-columns: repeat(2, 1fr); }
  }
  @media (max-width: 600px) {
    .cards-container { grid-template-columns: repeat(1, 1fr); }
  }
}
