.login {
  min-width: 380px;
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  .welcome-text {
    padding-top: 0;
    color: #747373;
    text-align: center;
  }
  form {
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;
    .textbox {
      width: 100%;
      position: relative;
      input {
        width: 100%;
        height: 60px;
        outline: none;
        padding: 0;
        font-family: inherit;
        font-size: 16px;
        border-radius: 8px;
      }
      input {
        background: transparent;
        border: 2px solid #5050501a;
        font-size: 18px;
        padding: 0 20px 0 50px;
        &:focus {
          border-color: #157ae1;
          & ~ span {
            color: #157ae1;
          }
        }
      }
      span {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 16px;
        translate: 0 -40%;
        color: #747373;
        &:span {
          color: #157ae1;
        }
      }
    }
    button {
      width: 100%;
      height: 60px;
      outline: none;
      padding: 0;
      font-family: inherit;
      font-size: 16px;
      border-radius: 8px;
      font-size: 18px;
      background: #2980ff;
      color: #f9f9f9;
      border: 0;
      font-weight: 600;
      letter-spacing: 2px;
      cursor: pointer;
    }
  }
  p {
    padding: 20px 0;
    font-size: 18px;
    a {
      color: #2980ff;
    }
  }
}
